/* 
    General Styles
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);




body {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000 url(https://miukimiu.github.io/star-wars-random-quotes/images/bg.jpg);


}

/* remove button focus */
button:focus {
  outline:0 !important;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  text-align: center;

}

.header__logo {
  padding-top: 20px;
  width: 100%;
  max-width: 400px;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.main {
  position: relative;
  padding: 40px 0 100px;
}




