body {
    background: url("https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-01.jpg") no-repeat center center fixed;
    background-size: cover;
    font: 14px/20px "Nunito", Arial, sans-serif;
    overflow-x: hidden;
    transition: background 3s linear;
  }
  .container {
    width: 50%;  
    margin: 10px auto;
    text-align: center;
  }
  .categories {
    margin: 0 auto;
    max-width: 360px;
    transform: translateX(0);
  }
  .category {
    margin: 0 auto;
    display: none;
  }
  .category.active {
    display: block;
  }
  .category h1 {
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
  }
  .cards{
    width: 300px;
    height: 550px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    padding: 100px 0px; 
  }
  .card {
    opacity: 0;
    position: absolute;
    width: 300px;
    height: 546px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 15px 30px -15px black;
    transform: translateX(-100px);
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .card.active {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.7s;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .card.active ~ .card
  {
    opacity: 0;
    transform: translateX(500px);
  }
  .card header img {
      width: 350px;
      position: absolute;
      top: -85px;
      left: -25px;
  }
  .card header.bg-image {
      position: relative;
      height: 230px;
      margin-bottom: 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  .card main .level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
    color: #EC9B3B;
  }
  .card main .name {
    font-size: 21px;
    font-weight: 700;
    line-height: 20px;
  }
  .card main p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #7d8c90;
    padding: 0 25px;
    text-align: left;
    line-height: 15px;
  }
  .card footer {
    display: flex;
    justify-content: space-between;
    min-height: 15%;
    width: 100%;
    background: #ec9b3b;
    color: white;
    position: fixed;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .card footer > div {
    flex: 1 1 0;
    font-weight: 400;
    font-size: 11px;
    text-align: left;
    line-height: 14px;
    padding: 10px 15px 5px 15px;
  }
  .card footer .left .title, .card footer .middle .title, .card footer .right .title {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 3px;
  }
  .card footer div .content {
    font-weight: 400;
    font-size: 11px;
    text-align: left;
    line-height: 14px;
    margin-left: 2px;
  }
  btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  btn svg {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 1px black solid;
  }
  btn svg:hover {
    color: rgba(255, 255, 255, 1);
  }
  btn.previous {
    position: absolute;
    left: -1%;
    top: 50%;
  }
  btn.next {
    position: absolute;
    right: -1%;
    top: 50%;
  }
  
  
  /*** Characters specific ***/
  
  .card.solo header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-01.jpg);
    background-size: 400px;
  }
  .card.rey header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-02.jpg);
    background-size: 750px;
  }
  .card.chewie header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-03.jpg);
    background-size: 600px;
  }
  .card.jyn-erso header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-04.jpg);
    background-size: 950px;
  }
  .card.boba-fett header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-04.jpg);
    background-size: 600px;
  }
  .card.padme-amidala header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-01.jpg);
    background-size: 920px;
  }
  .card.beckett header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/characters-plain-bg-02.jpg);
    background-size: 500px;
  }
  
  #characters footer {
    background: #ec9b3b;
  }
  #characters footer > div {
    border-right: 1px solid #bd7c2f;
  }
  #characters footer div:last-child {
    border-right: none;
  }
  
  /*** Spaceships specific ***/
  
  .card.millennium-falcon header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/millennium-falcon-plain-bg.jpg);
    background-size: 450px;
  }
  .card.x-wing header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/x-wing-plain-bg.jpg);
    background-size: 450px;
  }
  .card.tie-fighter header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/millennium-falcon-plain-bg.jpg);
    background-size: 650px;
  }
  .card.death-star header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/x-wing-plain-bg.jpg);
    background-size: 650px;
  }
  .card.imperial-shuttle header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/x-wing-plain-bg.jpg);
    background-size: 850px;
  }
  .card.nubian-yacht header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/x-wing-plain-bg.jpg);
    background-size: 525px;
  }
  
  #spaceships footer {
    background: #b31a53;
  }
  
  
  /*** locations specific ***/
  
  .card.mustafar header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-plain-bg.jpg);
    background-size: 450px;
  }
  .card.coruscant header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-plain-bg.jpg);
    background-size: 950px;
  }
  .card.tatooine header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-plain-bg.jpg);
    background-size: 650px;
  }
  .card.utapau header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-plain-bg.jpg);
    background-size: 1150px;
  }
  
  #locations footer {
    background: #22262d;
  }
  
  
  /*** droids specific ***/
  
  .card.r2-d2 header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 450px;
  }
  .card.c2-b5 header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 650px;
  }
  .card.c-3po header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 525px;
  }
  .card.battle-droid header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 950px;
  }
  .card.droideka header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 550px;
  }
  .card.bb-8 header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 800px;
  }
  .card.k-2so header {
    background: url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg);
    background-size: 590px;
  }
  
  #droids footer {
    background: #51676f;;
  }
  
  
  /*** Media queries ***/
  
  @media (max-width: 414px) {
    .container {
      width: 95vw;  
      margin: 10px auto 100px auto;
      text-align: center;
    }
  }
  
  
  /*** Hamburger navigation ***/
  
  *:focus {
      outline: none;
  }
  ul, li {
      list-style: none;
      padding: 0;
  }
  .main-nav {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      text-align: center;
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      transition: all .375s;
  }
  .main-nav.is-open {
      opacity: 1;
      z-index: 100;
      visibility: visible;
  }
  .main-nav::before {
      content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -25px;
    background: #fedc2a;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
      background: #fedc2a url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/wireframe-tie-fighter.png) no-repeat center center fixed;
  }
  .main-nav.is-open::before {
      transform: skew(-14deg) translateX(0);
  }
  .main-nav ul {
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-end;
      justify-content: center;
      transform: translateX(-18%) skew(-14deg);
  }
  .main-nav li {
      display: block;
      margin: .5rem 0;
      text-align: right;
      transform: skew(14deg);
  }
  .main-nav a {
      opacity: 0;
      transform: translateY(-10px);
  }
  .main-nav.is-open a {
      opacity: 1;
      transform: translateY(0);
  }
  .main-nav li:nth-child(1) a {
      transition: all 275ms 175ms
  }
  .main-nav li:nth-child(2) a {
      transition: all 275ms 225ms
  }
  .main-nav li:nth-child(3) a {
      transition: all 275ms 275ms
  }
  .main-nav li:nth-child(4) a {
      transition: all 275ms 325ms
  }
  .main-nav li:nth-child(5) a {
      transition: all 275ms 375ms
  }
  
  .burger:before {
      content:'\2630';
      font-size: 1.5rem;
    color: #fedc2a;
  }
  .burger-is-open:before {
    color: #002832;
  }
  .open-main-nav {
      position: absolute;
      top: 15px;
      padding-top: 0px;
      right: 15px;
      z-index: 1000;
      background: none;
      border: 0;
      cursor: pointer;
  }
  .main-nav a {
      display: block;
      padding: 12px 0;
      color: #5A3B5D;
      font-size: 1.4em;
      text-decoration: none;
      font-weight: bold;
  }
  
  
  
  /*** clouds, rocks... animation per category ***/
  
  #flying-object-01 {
    top: 3vh;
    left: 4vw;
    position: absolute;
  }
  #flying-object-02 {
    bottom: 7vh;
    left: 25vw;
    position: absolute;
  }
  
  /* clouds */
  .cloud-01 {
    animation: move-1 90s infinite;
    transform: translate(0);
  }
  .cloud-02 {
    animation: move-2 90s infinite;
    transform: translate(0);
  }
  
  
  /* rocks */
  .meteor-01 {
    animation: rotate-1 90s infinite;
    transform: rotate(-5deg);
  }
  .meteor-02 {
    animation: rotate-2 90s infinite;
    transform: rotate(15deg);
  }
  
  @keyframes move-1 {
    40% {
      -moz-transform: translate(-20vw);
      -webkit-transform: translate(-20vw);
      transform: translate(-20vw);
    }
  }
  @keyframes move-2 {
    50% {
      -moz-transform: translate(35vw);
      -webkit-transform: translate(35vw);
      transform: translate(35vw);
    }
  }
  @keyframes rotate-1 {
    50% {
      -moz-transform: rotate(145deg) translate(35vw);
      -webkit-transform: rotate(145deg) translate(35vw);
      transform: rotate(145deg) translate(35vw);
    }
  }
  @keyframes rotate-2 {
    50% {
      -moz-transform: rotate(-105deg) translate(-20vw);
      -webkit-transform: rotate(-105deg) translate(-20vw);
      transform: rotate(-105deg) translate(-20vw);
    }
  }
  
  
  /* typed.js restyling stuff */
  
  .p-solo::after, .p-rey::after, .p-chewie::after, .p-jyn-erso::after, .p-boba::after, p-padme-amidala::after, .p-beckett::after  {
      content: '|';
    color: #000;
    font-weight: 900;
    margin-left: 3px;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
  }
  .typed-cursor{
    opacity: 0;
      display: none;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  
  /*** Preload all images ***/
  
  body::after { 
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1; 
    content:
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/wireframe-tie-fighter.png)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-plain-bg.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-plain-bg.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/x-wing-plain-bg.jpg)
  
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-01.jpg)                 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-02.jpg)           
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-03.jpg) 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-04.jpg) 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-05.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-06.jpg)                 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/star-wars-bg-07.jpg)
  
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/spaceships-bg-01.jpg) 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/spaceships-bg-02.jpg) 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/spaceships-bg-03.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/spaceships-bg-04.jpg) 
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/spaceships-bg-05.jpg) 
  url(https://fwbmatch.fra1.digitaloceanspaces.com/starwars/spaceships-bg-06.jpg)
  
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-bg-01.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-bg-02.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-bg-03.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/locations-bg-04.jpg)
  
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-01.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-02.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-03.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-04.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-05.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-06.jpg)
  url(https://upsights.fra1.digitaloceanspaces.com/fwbmatch/starwars/droids-bg-07.jpg);
  }
  
  